@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,700;1,900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

header {
}

.banner {
    width: 82.5%;
    display: flex;
    margin: 50px 140px;
    height: 600px;
    max-width: 1320px;
    background-image: linear-gradient(#070211, #07021100) ,url('styles/resources/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    border-radius: 16px;
    align-items: center;
    background-size: cover;
    /* background: linear-gradient(#070211, #07021100); */
}

.banner-content {
    color: #fff;
    align-items: center;
    letter-spacing: 0em;
    text-align: center;
    width: 47%;
    justify-content: center;
    align-items: center;
    /* margin: ; */

}
.title {
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;


}
.title-details {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    height: 190px;

}
.content {
    margin: 120px auto;
    letter-spacing: 0em;
    text-align: center;
    font-family: Inter;
    /* gap: 120px; */

}
.off {
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    color: red;
}

.deal {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: red;

}
.offer {
    display: inline;
    
}
.catgories {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #070211;
}
img {
    margin: 48px 120px;
    width: 802.9px ;
    height: 500px ;
    top: 1076px ;
    left: 399px ;

}

.invitation {
    width: 82.5%;
    display: flex;
    margin: 50px 140px;
    height: 600px;
    max-width: 1320px;
    background-image: linear-gradient(#070211, #07021100) ,url('styles/resources/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
    border-radius: 16px;
    align-items: center;
}
.welcome {
    font-family: Inter;
    /* font-size: 20px;
    font-weight: 700;
    line-height: 24px; */
    letter-spacing: 0em;
    /* text-align: left; */
    color: #fff;

}
.welcome-title {
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 0.11em;
    /* text-align: left; */

}
.welcome-description {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    /* text-align: left; */

}
.banner-img {
    /* background: linear-gradient(#690B02, #8F4941, #B18079, #CDADA8, #E3D1CD, #F2EAE7, #FCFAF6, #FFFFFC); */
    max-width: 319.83px ;
    height: 464.66px ;
    /* top: 1764.11px ;
    left: 1002.17px ;
    padding: 0.01px, 0px, 0px, 0px ; */

}
.invitation .banner-img img {
    width: 79%;
    max-width: 319px;
    vertical-align: middle;
}
button:hover{
    color: #fff;
    cursor: pointer;
    transition: all 1s;
}
.join-now {
    border: none;
    margin: 48px 562px 0px 32px;
    width: 103px;
    height: 24px;
    top: 2130px;
    left: 298px;
    background: none;
    color: #fff;
    font-family: Inter;
    text-align: center;
    font-size: large;



    /* padding: 0 auto;
    font-family: Inter;
    font-size: 20px;
    /* font-weight: 700; */
    /* line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border: none; */
}
.schedule {
    display: auto;
    height: 100vh;
    /* justify-content: center; */
    background: linear-gradient(to top,#f57777, #FF000000);


    margin: 140px;
    height: 482px;
    /* align-items: center; */
    text-align: center;
    font-family: Inter;

}
.schedule-list {
    
    /* align-items: center; */

    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    /* text-align: center; */

    /* width: 549px ;
    height: 168px ;
    top: 2516px ;
    left: 525px ; */

}
span {
    color: red;
}
.button {
    color: #fff;
    margin: 25px;
    /* width: Hug (167px);
    height: Hug (56px); */
    top: 2732px;
    left: 716px;
    padding: 16px, 32px;
    border-radius: 8px;
    gap: 10px;
    background-color: #FF0000;
    justify-content: center;
    

}
.button {

    width: 167px;
    height: 56px;
    border: none;
    color: #fff;
    background-color: #FF0000;
    margin: 316px, 577px, 110px, 576px;
    padding: 16px, 32px, 16px, 32px;
    border-radius: 8px;
    gap: 10px;
    text-align: center;

}

/* NEW-BEST-OFFER-section */
.new-best-offer-section {
    margin: 140px;
    max-width: 1600px;
    display: flex;
    background-color: #ffffff;
    align-items: center;

}
.best-offer-title {
    align-items: center;
    display: inline-block;
    gap: 22px;

}
.offer-title {
    color: #FF0000;
}
.coming-soon {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;

}
.new-offer-description {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}
.ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
.photo-ellipse {
    padding: 30px;
    width: 463px;
    height: 463px;
    /* top: 3018px;
    left: 603px;
    border: 15px; */
    object-fit: cover;
    border-radius: 50%;
    border: 18px solid #ff0000;
}
.year-spacial {
    align-items: center;
}
.year {
    color: #FF0000;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;

}
.year-description {
    color: cadetblue;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}
.new-year-photo {
    
    width: 40px;
    height: 40px;
    /* top: 3343px;  */
    /* left: 1184px; */

}

/* our-item-section */

.the-best-gift {
    margin: 4707.07px 29px 16px 140px;
    color: #FF0000;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}
.awesome-portfolio {
    margin: 18px 894px 22px 140px;
    width: 566px;
    height: 60px;
    font-weight: 900;
    font-size: 48px;



}
.our-item-description {
    margin: 22px 424px 22px 140px;
    font-family: Inter;


}
/* .photo {
    margin:140px ;
    width: 1320px;
    height: 924px;
    display: flex;
    flex-wrap: wrap;

    


}
.photo img {
    width: 67%;
    height: 450px;
 }
 .photo-container1 {
    display: flex;
    justify-content: space-between;
} */

    /* max-width: 800px; Adjust the maximum width as needed */
    /* margin: 0 auto; Center the container */

/* .photo-container2 {
    display: flex;
    justify-content: space-between;

} */
  
    


/* .photo-column1 {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
} */

.photo-grid{

    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px; 
}

.photo {
    border: #070211;
    cursor:zoom-in;
    margin: 48px 140px;
    width: 82.5%;
    height: auto;
    border-radius: 16px;
    

}
/* subscribe-section */


.subscribe-section {
    margin: 140px 140px 100px 140px;
    background-color: #f57777;
    border-radius: 18px;
}
.subscribe-newsletter {
    margin: 48px 124px;
    padding: 122px 25px;
    position: relative;
    align-items: center;
    text-align: center;
    overflow: hidden;

    
}
.subscribe-newsletter>img {
    width: 150px;
    height: 150px;
}
.subscribe-description {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;

}
#form-container {
    max-width: 800px;
    margin: 20px auto;

}
#form-container  input {
    border: none;

    width: 438px;
    height: 42px;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 10px 0 0 10px ;


    /* flex-grow: 1; */
    
}

.subscribe-button {
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #FF0000;
    box-sizing: border-box;
    
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;


    width: 210px;
    height: 42px;
    top: 6454.07px;
    left: 914px;
    border-radius: 0 10px 10px 0;


}
.email-button {
}

/* footer-section */

.footer-items {
    margin: 0 ;
    padding: 0 ;
    max-width: 100%;
    background-color: #050505;
    font-family: Inter;
}
.footer-lines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 ;
    padding: 0 ;
    max-width: 100%; */
    background-color: #050505;
    color: #fff;
    /* width: 1600px;
    height: 609px;
    top: 6726.07px; */
    

}
.number {
    display: block;
    font-family: Inter;
    font-size: 24px;
    font-weight: 50;
    line-height: 1px;
    letter-spacing: 0em;
    text-align: inline;


}
.number>img {
    width: 24px;
    height: 24px;
}
.website {
    font-style: normal;
    width: 24px;
    height: 24px;
    top: 6894.07px;
    left: 1074px;


}
.website-link {
    width: 211px;
    height: 40px;
    top: 6886.07px;
    left: 1114px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;


}
.address {
    padding: 140px;
    width: 375px;
    height: 80px;
    top: 6846.07px;
    left: 140px;

}
.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    border: 1px;
    border: none;
    height: 2px; 
    background-color: #000;
    margin: 20px 0; 
    transition: background-color 0.05s;
}

hr:hover {
    background-color: #3498db; 
}

.social-container {
    cursor: pointer;
    margin: 45px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.icon {
    width: 50px; 
    height: 50px;
    margin: 0 5px; 
    object-fit: cover; 
    border-radius: 5px; 
}
.footer-items>p {
    color: #fff;
}
.last-footer {
    margin: 0 auto;
    padding: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;

}
.Unsubscribe {
    color: #fff;
    background-color: #000000;
    border: none;
}
