@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,700;1,900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

header {
}

.banner {
    width: 82.5%;
    display: flex;
    margin: 50px 140px;
    height: 600px;
    max-width: 1320px;
    background-image: linear-gradient(#070211, #07021100) ,url('styles/resources/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    border-radius: 16px;
    align-items: center;
    /* background: linear-gradient(#070211, #07021100); */
}

.banner-content {
    color: #fff;
    align-items: center;
    letter-spacing: 0em;
    text-align: center;
    width: 47%;
    justify-content: center;
    align-items: center;
    /* margin: ; */

}
.title {
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;


}
.title-details {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    height: 190px;

}
.content {
    margin: 120px auto;
    letter-spacing: 0em;
    text-align: center;
    font-family: Inter;
    /* gap: 120px; */

}
.off {
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    color: red;
}

.deal {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: red;

}
.offer {
    display: inline;
    
}
.catgories {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #070211;
}
img {
    margin: 48px 120px;
    width: 802.9px ;
    height: 500px ;
    top: 1076px ;
    left: 399px ;

}

.invitation {
    width: 82.5%;
    display: flex;
    margin: 50px 140px;
    height: 600px;
    max-width: 1320px;
    background-image: linear-gradient(#070211, #07021100) ,url('styles/resources/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
    border-radius: 16px;
    align-items: center;
}
.welcome {
    font-family: Inter;
    /* font-size: 20px;
    font-weight: 700;
    line-height: 24px; */
    letter-spacing: 0em;
    /* text-align: left; */
    color: #fff;

}
.welcome-title {
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 0.11em;
    /* text-align: left; */

}
.welcome-description {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    /* text-align: left; */

}
.banner-img {
    /* background: linear-gradient(#690B02, #8F4941, #B18079, #CDADA8, #E3D1CD, #F2EAE7, #FCFAF6, #FFFFFC); */
    max-width: 319.83px ;
    height: 464.66px ;
    /* top: 1764.11px ;
    left: 1002.17px ;
    padding: 0.01px, 0px, 0px, 0px ; */

}
.invitation .banner-img img {
    width: 79%;
    max-width: 319px;
    vertical-align: middle;
}
button:hover{
    color: #fff;
    cursor: pointer;
    transition: all 1s;
}
.join-now {
    margin: 48px 562px 0px 32px;
    width: 103px;
    height: 24px;
    top: 2130px;
    left: 298px;
    background: none;
    color: #fff;
    font-family: Inter;
    text-align: center;
    font-size: large;



    /* padding: 0 auto;
    font-family: Inter;
    font-size: 20px;
    /* font-weight: 700; */
    /* line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border: none; */
}
.schedule {
    display: auto;
    height: 100vh;
    /* justify-content: center; */
    background: linear-gradient(to top,#f57777, #FF000000);


    margin: 140px;
    height: 482px;
    /* align-items: center; */
    text-align: center;
    font-family: Inter;

}
.schedule-list {
    
    /* align-items: center; */

    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    /* text-align: center; */

    /* width: 549px ;
    height: 168px ;
    top: 2516px ;
    left: 525px ; */

}
span {
    color: red;
}
.button {
    margin: 25px;
    width: Hug (167px);
    height: Hug (56px);
    top: 2732px;
    left: 716px;
    padding: 16px, 32px;
    border-radius: 8px;
    gap: 10px;
    background-color: #FF0000;
    justify-content: center;
    

}
.button {

    width: 167px;
    height: 56px;
    border: none;
    color: #fff;
    background-color: #FF0000;
    margin: 316px, 577px, 110px, 576px;
    padding: 16px, 32px, 16px, 32px;
    border-radius: 8px;
    gap: 10px;
    text-align: center;

}
.the-best-gift {
    margin: 4707.07px 29px 16px 140px;
    color: #FF0000;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}
.awesome-portfolio {
    margin: 18px 894px 22px 140px;
    width: 566px;
    height: 60px;
    font-weight: 900;
    font-size: 48px;



}
.our-item-description {
    margin: 22px 424px 22px 140px;
    font-family: Inter;


}
.photo {
    
}
